/* A clean, empty CSS page! Ah! */

/* 
main background color is: rgb(115, 176, 115) 
complement color is: rgb(0, 4, 140)
chill white color is: (233, 233, 233)
*/

body {
    background-color: rgb(233, 233, 233);
    margin-right: 25%;
    max-width: 800px;
    min-width: 500px;
}

h1 {
    color: rgb(0, 4, 140);
}

p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

a {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;

    color: rgb(0, 51, 203);
}
a:hover {
    color: rgb(146, 12, 223);
}